/*root hace que podamos crear las variables de acceso global*/
:root{
    --bg-color: #000; /*asi se crea */
    --bg-color-header: #8B0000;
    --brand-color: #da183f;/*para los botones por ejemplo y cosas similares */
    --brand-color-light: #cbabce;/*para el hover de los botones por ejemplo*/
    --secondary-brand-color: #210808;
    --main-text-color: #fff;
    --border-color:#58542c;
    --input-bg-color: #333;
    --main-font-family :'Roboto ' , Arial, Helvetica, sans-serif;
    font-size: 16px;/*
     font-size: 16px;/* este es nuestro tamaño de partida, a partir de este los rem del resto de la web
     se adaptarán */
     
}

*{
    box-sizing: border-box;
}


 /*variables*/

 .main-bg{
 
 background-color: var(--bg-color); /*asi se usa */
 color: var(--main-text-color);
 font-family: var(--main-font-family)
 
 }
 .sides-margin{
    width: 80%;
    margin: 0 auto;
 }

 @media print{
    *{
        color:red;
    }
 }