.btn{
    color:var(--main-text-color);
    background-color: var(--brand-color);
    text-decoration: none;
    padding: 0.7rem;  
    margin: 0 0;  
    display: inline-block;
    border-radius: 5px;
    border: 1px solid var(--brand-color);
    transition: background-color 2s;
    
}
@media screen and (hover: hover) {
    .btn{
        cursor:pointer;
        &:hover {
           background-color: var(--brand-color-light);
          
        }
    }
}

.form_input{
    display: flex;
    flex-direction: column;
    margin-bottom:1rem;
    label{
        margin-bottom: 0.6rem;
    }
    .input{
        padding: 1rem;
        border-radius: 5px;
        border:none;
        background-color: var(--input-bg-color);
        color: var(--main-text-color);
        
    }
  }