.sides-margin{
    width: 80vh;
    margin: 0 auto;
}


.info{
    
    margin: 0 auto;
    margin-bottom: 20px;
    position:relative;
    display: flex;
    flex-direction: column;
    text-align: left;
   
    
}

@media screen and (width > 768px) {
    .sides-margin{
        width: 140vh;
        
        .info{
            display: flex;
            flex-direction: row;
            gap: 20px;
            
        }.texto{
            width: 50%;
        }
        .barras{
            margin: 50px auto;
            width: 50%;
            height: 70vh;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }
   
}

.audiovisual{
       display: flex;
       justify-content: center;
        
        .video{
            width: 20em;
        }
        /*esto no es lo que quiero , porque estamos imitando lo de la clase que seria meterlo en una imagen*/
    }

@media screen and (width >768px) {
        .audiovisual{
            .video{
                width: 30rem;
            }
        }
}


@media screen and (width >1100px) {
    .audiovisual{
        .video{
            width: 50rem;
        }
    }
}

@media screen and (width >2000px) {
    .audiovisual{
        .video{
            width: 80rem;
            margin-top: -400px;
        }
    }
}
