.header{
   font-family: var(--main-font-family);
   position: sticky;
   top:0;
   z-index: 99;
   background-color: var(--main-brand-color);
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 0.8rem;
   a{
    width: 30%;
    text-decoration: none;
    list-style: none;
    min-width: 100px;
    max-width: 200px;
   }
}

.nav{
    display: none;
    .list{
        min-width: 300px;
        width: 100%;
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin: auto;
        li{
            font-size: 0.8rem;
            padding: 5px;
            a{
                position: relative;
                text-decoration: none;
                font-weight: 500;
                z-index: 10;
                color: var(--main-text-color);
                letter-spacing: 0.5px;
                padding:0 10px;
            }
            a:after{
                content:"";
                position:absolute;
                background-color: yellow;
                height: 2px;
                width: 0;
                left:0;
                bottom: -10px;
                transition: 0.4s ease-in-out;
            }
            a:hover:after{
                width: 100%;
            }
            a:hover{
                color:beige;
            }
        }
    }
}

/*hemos pillado mas o menos la idea pero tenemos que seguir trabajandola*/


.hidden{
    display:none;
   /* visibility: hidden;*/
    /*opacity:0;*/
}
/*recordemos que esto se modificara para el menu hamburguesa si conseguimos hacerlo*/
@media screen and (width > 768px){
    .hidden{
        display: block;
    }
}