.progress {
    height: 10px;
    background-color: red;
    border-radius: 210px;
    width: 0;
    position: relative;
    z-index: 999;
    margin: 1rem  0 ;
   
  
}
.progress1{
    animation: progress1 1s linear;
    animation-fill-mode:forwards ;
}
.progress2{
    animation: progress2 1s linear;
    animation-fill-mode:forwards ;
}
.progress3{
    animation: progress3 1s linear;
    animation-fill-mode:forwards ;
}
.progress4{
    animation: progress4 1s linear;
    animation-fill-mode:forwards ;
}
.progress5{
    animation: progress5 1s linear;
    animation-fill-mode:forwards ;
}
.progress6{
    animation: progress5 1s linear;
    animation-fill-mode:forwards ;
}
    
@keyframes progress1 {
    0%{
        width: 0;
    }
    100%{
        width: 100%;
    }
}    
@keyframes progress2 {
    0%{
        width: 0;
    }
    100%{
        width: 50%;
    }
}  
@keyframes progress3 {
    0%{
        width: 0;
    }
    100%{
        width: 10%;
    }
}  
@keyframes progress4 {
    0%{
        width: 0;
    }
    100%{
        width: 50%;
    }
}  
@keyframes progress5 {
    0%{
        width: 0;
    }
    100%{
        width: 68%;
    }
}  
@keyframes progress6 {
    0%{
        width: 0;
    }
    100%{
        width: 78%;
    }
}  